<a href="https://colab.research.google.com/github/Jpaunero/practicadata07/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

data = pd.read_csv("/content/data.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
data.shape

(392892, 15)

In [ ]:
data.head

<bound method NDFrame.head of               fullVisitorID  visitNumber      date  bounces  hits  pageviews  \
0       8533875475515924645            1  20170205      1.0     1        1.0
1       4874599869430831185            2  20170205      1.0     1        1.0
2        361954421372951638            1  20170205      1.0     1        1.0
3       8751850432978942600            2  20170205      1.0     1        1.0
4       2451058030378352110            1  20170205      1.0     1        1.0
...                     ...          ...       ...      ...   ...        ...
392887  4823772839168317708            1  20170314      NaN    14       10.0
392888  4495028198726387872            1  20170314      NaN    15       13.0
392889   659863211325608630            1  20170314      NaN    16       16.0
392890  5989424100079269693            1  20170314      NaN    20       18.0
392891  9349161317881541522            4  20170314      NaN   205      179.0

        timeOnSite  transactionRevenue  transactions          source  \
0              NaN                 NaN           NaN        (direct)
1              NaN                 NaN           NaN        (direct)
2              NaN                 NaN           NaN        (direct)
3              NaN                 NaN           NaN            bing
4              NaN                 NaN           NaN        (direct)
...            ...                 ...           ...             ...
392887       210.0                 NaN           NaN     youtube.com
392888       306.0                 NaN           NaN  m.facebook.com
392889       202.0                 NaN           NaN     youtube.com
392890       621.0                 NaN           NaN     youtube.com
392891      4195.0              901.71           8.0  l.facebook.com

       channelGrouping          browser deviceCategory        country  \
0       Organic Search           Chrome        desktop      Australia
1       Organic Search           Chrome         mobile         Turkey
2       Organic Search           Chrome        desktop         Russia
3       Organic Search             Edge        desktop  United States
4       Organic Search           Chrome        desktop      Indonesia
...                ...              ...            ...            ...
392887          Social           Chrome        desktop      Australia
392888          Social  Android Webview         mobile  United States
392889          Social           Chrome        desktop       Colombia
392890          Social           Chrome        desktop         Israel
392891          Social          Firefox        desktop      Indonesia

                                 city
0                              Sydney
1                            Istanbul
2                              Moscow
3       not available in demo dataset
4       not available in demo dataset
...                               ...
392887                         Sydney
392888  not available in demo dataset
392889  not available in demo dataset
392890                  Tel Aviv-Yafo
392891  not available in demo dataset

[392892 rows x 15 columns]>

In [5]:
data.count()

fullVisitorID         67030
visitNumber           67030
date                  67030
bounces               33500
hits                  67029
pageviews             67022
timeOnSite            33425
transactionRevenue      968
transactions            968
source                67029
channelGrouping       67029
browser               67029
deviceCategory        67029
country               67029
city                  67029
dtype: int64

In [ ]:
turkey = (data[data.country.str.contains('Turkey')])
t = len(turkey.country)
t

3765

In [ ]:
def Borrar_col():
  data.drop(['fullVisitorID'], inplace =True, axis=1)
  datashape = data.shape[1]
  return datashape

In [ ]:
data.isnull

<bound method DataFrame.isnull of               fullVisitorID  visitNumber      date  bounces  hits  pageviews  \
0       8533875475515924645            1  20170205      1.0     1        1.0
1       4874599869430831185            2  20170205      1.0     1        1.0
2        361954421372951638            1  20170205      1.0     1        1.0
3       8751850432978942600            2  20170205      1.0     1        1.0
4       2451058030378352110            1  20170205      1.0     1        1.0
...                     ...          ...       ...      ...   ...        ...
392887  4823772839168317708            1  20170314      NaN    14       10.0
392888  4495028198726387872            1  20170314      NaN    15       13.0
392889   659863211325608630            1  20170314      NaN    16       16.0
392890  5989424100079269693            1  20170314      NaN    20       18.0
392891  9349161317881541522            4  20170314      NaN   205      179.0

        timeOnSite  transactionRevenue  transactions          source  \
0              NaN                 NaN           NaN        (direct)
1              NaN                 NaN           NaN        (direct)
2              NaN                 NaN           NaN        (direct)
3              NaN                 NaN           NaN            bing
4              NaN                 NaN           NaN        (direct)
...            ...                 ...           ...             ...
392887       210.0                 NaN           NaN     youtube.com
392888       306.0                 NaN           NaN  m.facebook.com
392889       202.0                 NaN           NaN     youtube.com
392890       621.0                 NaN           NaN     youtube.com
392891      4195.0              901.71           8.0  l.facebook.com

       channelGrouping          browser deviceCategory        country  \
0       Organic Search           Chrome        desktop      Australia
1       Organic Search           Chrome         mobile         Turkey
2       Organic Search           Chrome        desktop         Russia
3       Organic Search             Edge        desktop  United States
4       Organic Search           Chrome        desktop      Indonesia
...                ...              ...            ...            ...
392887          Social           Chrome        desktop      Australia
392888          Social  Android Webview         mobile  United States
392889          Social           Chrome        desktop       Colombia
392890          Social           Chrome        desktop         Israel
392891          Social          Firefox        desktop      Indonesia

                                 city
0                              Sydney
1                            Istanbul
2                              Moscow
3       not available in demo dataset
4       not available in demo dataset
...                               ...
392887                         Sydney
392888  not available in demo dataset
392889  not available in demo dataset
392890                  Tel Aviv-Yafo
392891  not available in demo dataset

[392892 rows x 15 columns]>

In [ ]:
def borrar_na():
  data.dropna(axis=0, inplace =True)
  return data.columns

In [ ]:
data =

In [ ]:
borrar_na()

Index(['fullVisitorID', 'visitNumber', 'date', 'hits', 'source',
       'channelGrouping', 'browser', 'deviceCategory', 'country', 'city'],
      dtype='object')

In [6]:
data.isnull()

,fullVisitorID,visitNumber,date,bounces,hits,pageviews,timeOnSite,transactionRevenue,transactions,source,channelGrouping,browser,deviceCategory,country,city
0,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False
1,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67025,False,False,False,True,False,False,False,True,True,False,False,False,False,False,False
67026,False,False,False,True,False,False,False,True,True,False,False,False,False,False,False
67027,False,False,False,True,False,False,False,True,True,False,False,False,False,False,False
67028,False,False,False,True,False,False,False,True,True,False,False,False,False,False,False
67029,False,False,False,True,True,True,True,True,True,True,True,True,True,True,True

In [ ]:
data.shape

(392892, 9)

In [ ]:
392892*9

3536028

In [17]:
df2 = data.filter(items = ["bounces", "timeOnSite"])
df2
df2.fillna(1, inplace = True)  
df2

        bounces  timeOnSite
0           1.0         1.0
1           1.0         1.0
2           1.0         1.0
3           1.0         1.0
4           1.0         1.0
...         ...         ...
392887      1.0       210.0
392888      1.0       306.0
392889      1.0       202.0
392890      1.0       621.0
392891      1.0      4195.0

[392892 rows x 2 columns]

In [19]:
datos = df2.bounces * df2.timeOnSite
datos

0            1.0
1            1.0
2            1.0
3            1.0
4            1.0
           ...
392887     210.0
392888     306.0
392889     202.0
392890     621.0
392891    4195.0
Length: 392892, dtype: float64

In [20]:
data["timmpo total"] = datos
data.head

<bound method NDFrame.head of               fullVisitorID  visitNumber      date  bounces  hits  pageviews  \
0       8533875475515924645            1  20170205      1.0     1        1.0
1       4874599869430831185            2  20170205      1.0     1        1.0
2        361954421372951638            1  20170205      1.0     1        1.0
3       8751850432978942600            2  20170205      1.0     1        1.0
4       2451058030378352110            1  20170205      1.0     1        1.0
...                     ...          ...       ...      ...   ...        ...
392887  4823772839168317708            1  20170314      NaN    14       10.0
392888  4495028198726387872            1  20170314      NaN    15       13.0
392889   659863211325608630            1  20170314      NaN    16       16.0
392890  5989424100079269693            1  20170314      NaN    20       18.0
392891  9349161317881541522            4  20170314      NaN   205      179.0

        timeOnSite  transactionRevenue  transactions          source  \
0              NaN                 NaN           NaN        (direct)
1              NaN                 NaN           NaN        (direct)
2              NaN                 NaN           NaN        (direct)
3              NaN                 NaN           NaN            bing
4              NaN                 NaN           NaN        (direct)
...            ...                 ...           ...             ...
392887       210.0                 NaN           NaN     youtube.com
392888       306.0                 NaN           NaN  m.facebook.com
392889       202.0                 NaN           NaN     youtube.com
392890       621.0                 NaN           NaN     youtube.com
392891      4195.0              901.71           8.0  l.facebook.com

       channelGrouping          browser deviceCategory        country  \
0       Organic Search           Chrome        desktop      Australia
1       Organic Search           Chrome         mobile         Turkey
2       Organic Search           Chrome        desktop         Russia
3       Organic Search             Edge        desktop  United States
4       Organic Search           Chrome        desktop      Indonesia
...                ...              ...            ...            ...
392887          Social           Chrome        desktop      Australia
392888          Social  Android Webview         mobile  United States
392889          Social           Chrome        desktop       Colombia
392890          Social           Chrome        desktop         Israel
392891          Social          Firefox        desktop      Indonesia

                                 city  timmpo total
0                              Sydney           1.0
1                            Istanbul           1.0
2                              Moscow           1.0
3       not available in demo dataset           1.0
4       not available in demo dataset           1.0
...                               ...           ...
392887                         Sydney         210.0
392888  not available in demo dataset         306.0
392889  not available in demo dataset         202.0
392890                  Tel Aviv-Yafo         621.0
392891  not available in demo dataset        4195.0

[392892 rows x 16 columns]>